<include file="Public:head" />
<div class="panel-body">
<p><h2>Apache Web Server（独立主机用户）</h2></p>
<blockquote class="bg-back"><pre>
	<?php
	echo htmlspecialchars("
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>
	");
	?></pre>
		</blockquote>
		<p><h2>Apache Web Server(虚拟主机用户)</h2></p>
		<blockquote class="bg-back"><pre>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</pre>
		</blockquote>
		<p><h2>IIS</h2></p>
		<p class="text-blue">如果你的服务器环境支持ISAPI_Rewrite的话，可以配置httpd.ini文件，添加下面的内容：</p>
		<blockquote><pre>
  RewriteRule (.*)$ /index\.php\?s=$1 [I]
</pre>
		</blockquote>
		<p class="text-blue">在IIS的高版本下面可以配置web.Config，在中间添加rewrite节点：</p>
		<blockquote class="bg-back"><pre>
<?php
echo htmlspecialchars('
<rewrite>
 <rules>
  <rule name="OrgPage" stopProcessing="true">
    <match url="^(.*)$" />
    <conditions logicalGrouping="MatchAll">
      <add input="{HTTP_HOST}" pattern="^(.*)$" />
      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
    </conditions>
  <action type="Rewrite" url="index.php/{R:1}" />
  </rule>
 </rules>
</rewrite>
');
?>
</pre>
		</blockquote>
		<p><h2>Nginx</h2></p>
		<p class="text-blue">在Nginx低版本中，是不支持PATHINFO的，但是可以通过在Nginx.conf中配置转发规则实现：<p>
		<blockquote class="bg-back"><pre>
<?php
echo htmlspecialchars('
location / { // …..省略部分代码
  if (!-e $request_filename) {
    rewrite  ^(.*)$  /index.php?s=$1  last;
    break;
  }
}
');
?>
</pre>
		</blockquote>
<p class="text-dot">其实内部是转发到了ThinkPHP提供的兼容模式的URL，利用这种方式，可以解决其他不支持PATHINFO的WEB服务器环境。<p>
<p class="text-blue">如果你的ThinkPHP安装在二级目录，Nginx的伪静态方法设置如下，其中youdomain是所在的目录名称。<p>
	<blockquote class="bg-back"><pre>
location /youdomain/ {
    if (!-e $request_filename){
	   rewrite  ^/youdomain/(.*)$  /youdomain/index.php?s=$1  last;
    }
}<pre>
	</blockquote>
</div>
<include file="Public:footer" />