<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>  
    <link rel="stylesheet" href="__PUBLIC__/{:C('DEFAULT_THEME')}/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/{:C('DEFAULT_THEME')}/css/admin.css">
    <script src="__PUBLIC__/{:C('DEFAULT_THEME')}/js/jquery.js"></script>
    <script src="__PUBLIC__/{:C('DEFAULT_THEME')}/js/pintuer.js"></script>  
</head>
<body>
<div id="top-alert" class="fixed alert alert-error" style="display: none;">
	<button class="close fixed" style="margin-top: 4px;"></button>
	<div class="alert-content">警告内容</div>
</div